---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import RichPostLink from "@comps/RichPostLink.astro";
import IconLink from "@comps/IconLink.astro";

export const getStaticPaths = ( async () => {
    const allPosts = await getCollection("blog");
    const tags = [...new Set(
        allPosts
        .filter((post) => Array.isArray(post.data.tags))
        .flatMap((post) => post.data.tags as string[])
    )];

    return tags.map((tag) => ({
        params: {tag},
        props: {posts: allPosts
            .filter((post) => post.data.tags?.includes(tag))
            .sort((post1, post2) => post2.data.pubDate.valueOf() - post1.data.pubDate.valueOf())}
    }));
}) satisfies GetStaticPaths;

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout title=`posts with tag ${tag}` description=`posts with tag ${tag} on hackysphere's blog`>
    <h1>blog</h1>
    <h2>posts with tag {tag} ∙
        <!-- rss color is large AA compliant -->
        <IconLink link=`/blog/tags/${tag}/rss.xml` icon="/icons/icon-rss.svg" text="rss" color="orange" /></h2>
    {posts.map((post) => <RichPostLink post={post} />)}
</BaseLayout>