---
import "@styles/global.css";

interface Props {
    link: string;
    icon: string;
    text: string;
    color?: string;
}

const { link, icon, text, color } = Astro.props;
---
<style>
    img {
        /* using ch so it looks1 like a character */
        height: 1ch;
        width: 1ch;
        margin-right: 0.2em;
        /* this doesn't support setting different colors for svgs, has to be hardcoded */
    }
</style>

<a href={link} style=`color: ${color}`><img src={icon} alt=`${text} icon` />{text}</a>