---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import RichPostLink from "@comps/RichPostLink.astro";

export const getStaticPaths = ( async () => {
    const allPosts = await getCollection("blog");
    const tags = [...new Set(
        allPosts
        .filter((post) => Array.isArray(post.data.tags))
        .flatMap((post) => post.data.tags)
    )];
    console.log(tags);

    return tags.map((tag) => ({
        params: {tag},
        props: {posts: allPosts.filter((post: any) => Array.isArray(post.data.tags) && post.data.tags.includes(tag))}
    }));
}) satisfies GetStaticPaths;

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout title=`posts with tag ${tag}` description=`posts with tag ${tag} on hackysphere's blog`>
    <h1>blog</h1>
    <h2>posts for tag {tag}</h2>
    {posts.map((post) => <RichPostLink post={post} />)}
</BaseLayout></RichPostLink>