---
import BaseLayout from "./BaseLayout.astro";
import PostInfo from "@comps/PostInfo.astro";
import type { InferEntrySchema } from "astro:content";
interface Props {
    frontmatter: InferEntrySchema<"blog">;
}

const { frontmatter } = Astro.props;
---
<meta property="article:published_time" content={frontmatter.pubDate.toISOString()} />
{frontmatter.updDate && <meta property="article:modified_time" content={frontmatter.updDate.toISOString()} />}
<meta property="article:author" content={frontmatter.author} />
{frontmatter.author === "hackysphere" && <meta name="fediverse:creator" content="@hackysphere@techhub.social" />}

<BaseLayout title={frontmatter.title} description={frontmatter.description} og_type="article">
    <h1>{frontmatter.title}</h1>
    <i>{frontmatter.description}</i>
    <PostInfo frontmatter={frontmatter} />
    <!-- {frontmatter.image && <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />}
    not doing pictures yet... -->
    <hr />
    <slot />
</BaseLayout>
