---
import BaseLayout from "./BaseLayout.astro";
import PostInfo from "@comps/PostInfo.astro";
import type { InferEntrySchema } from "astro:content";
interface Props {
    frontmatter: InferEntrySchema<"blog">;
}

const { frontmatter } = Astro.props;
---
<BaseLayout title={frontmatter.title} description={frontmatter.description}>
    <h1>{frontmatter.title}</h1>
    {frontmatter.description && <i>{frontmatter.description}</i>}
    <PostInfo frontmatter={frontmatter} />
    <!-- TODO tags are still incomplete and not styled correctly
              also should probably move to its own component
    {frontmatter.tags && frontmatter.tags.map((tag: string) => (
            <p><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}

    <hr />
    -->
    <!-- {frontmatter.image && <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />}
    not doing pictures yet... -->
    <hr />
    <slot />
</BaseLayout>
